.footer-external {
    background-color: #E1DBDB;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-internal {
    max-width: 1024px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 999;
    margin: auto;
}

.footer-link, .footer-item {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    &:hover {
        color: #5ac4c3;
        text-decoration: none;
    }
    &:focus, &:active, &:visited, &:visited:hover {
        color: inherit;
        text-decoration: none;
    }
}

.footer-item {
    padding-bottom: 5px;
    padding-top: 5px;
}

.footer-avatar {
    margin-right: 20px;
}

.footer-icons {
    font-size: 23px;
}